@font-face {
  font-family: 'Fira Code';
  src: url('../FONT/FiraCode.ttf') format('truetype');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --editor-foreground: #97A7C8;
  --editor-background: #222236;
  --line-highlight: #24273E;
  --line-height: 24px;
  --margin-font-color: #50506d;
  --margin-border-color: transparent;
  /* --even-line-color: orange; */
  --even-line-color: hsl(240, 24%, 16.4%);
  --scrollbar-size: 16px;
  --actionbar-background: #151520;
  --folder-background: #1E1D2E;
  --editor-caret-color: #ACED00;
  --editor-font-family: 'Fira Code';
  --editor-font-size: 14px;
  --editor-font-weight: 400;
  --editor-letter-spacing: -0.2px;
}

/* ACTION BAR */

.actionbar {
  min-width: 50px;
  background-color: var(--actionbar-background);
}

/* FOLDERS */

.folders {
  min-width: 200px;
  background-color: var(--folder-background);
}

/* EDITOR */

custom-editor {
  max-width: 100%;
  display: flex;
  flex-direction: row;

  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  letter-spacing: var(--editor-letter-spacing);
  font-weight: var(--editor-font-weight);
  color: var(--editor-foreground);
  background-color: var(--editor-background);
  caret-color: var(--editor-caret-color);

  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* EDITOR MARGIN */

custom-editor>.margin {
  flex-shrink: 0;
  text-align: center;
  border-right: 1px solid var(--margin-border-color);
  overflow: hidden;
  line-height: var(--line-height);
  font-size: 13px;
  padding: 0 0 calc(calc(var(--line-height) * 4) + var(--scrollbar-size)) 0;
  white-space: pre;
}

custom-editor>.margin>.number {
  padding: 0 10px;
  color: var(--margin-font-color);
}

custom-editor>.margin>.number:nth-child(even) {
  background: var(--even-line-color);
}

/* EDITOR VIEWPORT */

custom-editor>.viewport {
  flex: 1;
  padding: 0 0 calc(var(--line-height) * 4) 0;
  overflow: auto;
}

/* EDITOR LINES */

custom-editor>.viewport>.lines {
  white-space: pre;
  min-width: max-content;
}

custom-editor>.viewport>.lines>.line:nth-child(even) {
  background: var(--even-line-color);
}

custom-editor>.viewport>.lines>.line {
  line-height: var(--line-height);
  padding: 0 128px 0 0;
}

custom-editor>.viewport>.lines>.line>.highlight {
  background: var(--line-highlight);

}

custom-editor>.viewport>.lines>.line>.tokens {
  overflow-wrap: normal;
}

custom-editor>.viewport>.lines>.line>.tokens>.token {
  background: rgb(74, 27, 136);
}

/* SCROLLBARS */

/* TEST */
custom-editor::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  position: fixed;
}

custom-editor::-webkit-scrollbar-track {
  background: transparent;
}

custom-editor::-webkit-scrollbar-thumb {
  background: #31314e66;
}

custom-editor::-webkit-scrollbar-thumb:hover {
  background: #31314e99;
}

custom-editor::-webkit-scrollbar {
  background: transparent;
}

custom-editor::-webkit-scrollbar-corner {
  background: transparent;
  /* Color of the scrollbar corner */
}

/* .lines,
.lines>.line,
.lines>.line>.tokens,
.margin>.number {
  outline: 1px solid #00ffdd30;
} */

/* RUST SYNTAX HIGHLIGHT */
/*
Whitespace
Keyword
CommentLine
CommentBlock
Newline
String
Char
Operator
DoubleColon
Semicolon
Colon
Identifier
Caret
Integer
Float

Lifetime
OpenBrace
CloseBrace
OpenParen
CloseParen
OpenBracket
CloseBracket
Comma
Hash
Dot
Pipe
OpenAngle
CloseAngle
TempBorrow
Question
MacroExclamation
*/

.token {
  color: red;
}

.token.rust.Keyword {
  color: #D59DF6;
}

.token.rust.CommentLine,
.token.rust.CommentBlock {
  color: #506686;
}

.token.rust.String {
  color: #22ffbd;
}

.token.rust.Char {
  color: #AC58FF;
}

.token.rust.Operator,
.token.rust.DoubleColon,
.token.rust.Colon,
.token.rust.Caret {
  color: #4FF2F8;
}

.token.rust.Identifier {
  color: #B7C6DA;
}

.token.rust.Semicolon {
  color: #d8d8d8;
}

.token.rust.Float,
.token.rust.Integer {
  color: #42ff76;
}

.token.rust.eeeeeee {
  color: #2600ff;
}

.token.rust.eeeeeeeee {
  color: #2600ff;
}