/* TEMP */
custom-panel .content * {
    /* outline: 1px dotted red; */
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #fff;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
}